<script id="t-cart" type="text/html">
    <div class="row">
        <h3 class="col-lg-4">Product</h3>
        <h3 class="col-lg-2">Unit Cost</h3>
        <h3 class="col-lg-3">Quantity</h3>
        <h3 class="col-lg-3">Totals</h3>
    </div>

    <div data-bind="foreach: { data: data.cartItems(), as: 'cartItem' }">
        <div class="row">
            <div class="media col-lg-4">
                <a class="pull-left" href="#">
                    <img src="" alt="" data-bind="src: cartItem.thumbnailLink, attr: { alt: cartItem.thumbnailAlt }" data-holder-rendered="true" style="width: 75px; height: 125px;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading" data-bind="text: cartItem.title"></h4>
                    <form action="/#/cart/remove" method="delete">
                        <button type="submit" class="btn btn-primary">Remove</button>
                        <input type="hidden" name="product_uid" value="" data-bind="value: cartItem.productUid">
                    </form>
                </div>
            </div>
            <div class="col-lg-2">
                <span class="purchase-price" data-bind="currency: cartItem.price"></span>
                <input type="hidden" value="" id="unit_cost" data-bind="value: cartItem.price" />
            </div>
            <div class="col-lg-3">
                <form method="get" data-bind="attr:{id:'form_' + cartItem.productUid()}">

                    <select class=" form-control" data-bind="event: {change: function(data, event){ $parent.udpateQuantity($data, event, cartItem.productUid()) }}, value: quantity" id="quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>

                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>

                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>

                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>

                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>

                    </select>
                </form>
            </div>
            <div class="col-lg-3">
                <span class="purchase-price" id="subtotal">$13.66</span>
            </div>
        </div>
    </div>

    <div class="row">
        <hr style="color: #052033; background-color:#052033;height: 1px;" />
    </div>

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-3 text-right">
            <form action="/#/checkout" method="get">
                <button class="btn btn-success btn-buy">Proceed To Checkout</button>
            </form>
        </div>
        <div class="col-lg-3">
            <span class="purchase-price" style="font-weight:bold;" id="total">$13.66</span>
        </div>
    </div>
</script>