<script id="t-cart" type="text/html">
    <div class="row">
        <h3 class="col-lg-4">Product</h3>
        <h3 class="col-lg-2">Unit Cost</h3>
        <h3 class="col-lg-3">Quantity</h3>
        <h3 class="col-lg-3">Totals</h3>
    </div>

    <div data-bind="foreach: { data: data.products(), as: 'product' }">
        <div class="row">
            <div class="media col-lg-4">
                <a class="pull-left" href="#">
                    <img src="" alt="" data-bind="src: product.thumbnailLink, attr: { alt: product.thumbnailAlt }" data-holder-rendered="true" style="width: 75px; height: 125px;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading" data-bind="text: product.title"></h4>
                    <button type="button" class="btn btn-primary">Remove</button>
                </div>
            </div>
            <div class="col-lg-2 purchase-price" data-bind="currency: product.price">

            </div>
            <div class="col-lg-3">
                <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
            <div class="col-lg-3 purchase-price">
                $13.66
            </div>
        </div>
    </div>

    <div class="row">
        <hr style="color: #052033; background-color:#052033;height: 1px;" />
    </div>

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-3 text-right"><button class="btn btn-success btn-buy">Proceed To Checkout</button></div>
        <div class="col-lg-3 purchase-price"><b>$13.66</b></div>
    </div>
</script>