<script id="t-cart" type="text/html">

        <div class="row">
            <h3 class="col-lg-4">Product</h3>
            <h3 class="col-lg-2">Unit Cost</h3>
            <h3 class="col-lg-3">Quantity</h3>
            <h3 class="col-lg-3">Totals</h3>
        </div>

        <div class="row">
            <div class="media col-lg-4">
                <a class="pull-left" href="#">
                    <img data-src="holder.js/64x64" alt="64x64" src="/images/books/dirkgently.jpeg" data-holder-rendered="true" style="width: 75px; height: 125px;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Dirk Gently's Holistic Detective Agency</h4>
                    <button type="button" class="btn btn-primary">Remove</button>
                </div>
            </div>
            <div class="col-lg-2 purchase-price">
                $6.83
            </div>
            <div class="col-lg-3">
                <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
            <div class="col-lg-3 purchase-price">
                $13.66
            </div>
        </div>

        <div class="row">
            <div class="media col-lg-4">
                <a class="pull-left" href="#">
                    <img data-src="holder.js/64x64" alt="64x64" src="/images/books/restaurantuniverse.jpeg" data-holder-rendered="true" style="width: 75px; height: 125px;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Life, the Universe and Everything</h4>
                    <button type="button" class="btn btn-primary">Remove</button>
                </div>
            </div>
            <div class="col-lg-2 purchase-price">
                $6.83
            </div>
            <div class="col-lg-3">
                <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
            <div class="col-lg-3 purchase-price">
                $13.66
            </div>
        </div>

        <div class="row">
            <div class="media col-lg-4">
                <a class="pull-left" href="#">
                    <img data-src="holder.js/64x64" alt="64x64" src="/images/books/dirkgently.jpeg" data-holder-rendered="true" style="width: 75px; height: 125px;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">The Restaurant at the End of the Universe</h4>
                    <button type="button" class="btn btn-primary">Remove</button>
                </div>
            </div>
            <div class="col-lg-2 purchase-price">
                $6.83
            </div>
            <div class="col-lg-3">
                <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>

            </div>
            <div class="col-lg-3 purchase-price">
                $13.66
            </div>
        </div>

        <div class ="row"><hr style="color: #052033; background-color:#052033;height: 1px;"/></div>
        
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-2"></div>
            <div class="col-lg-3 text-right"><button class="btn btn-success btn-buy">Proceed To Checkout</button></div>
            <div class="col-lg-3 purchase-price"><b>$13.66</b></div>
        </div>


</script>