<script id="t-history" type="text/html">

    <div class="page-header">
        <h2 class="gdfg">Account Activity</h2>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <select class="form-control">
                <option value="1">December 2014</option>
                <option value="2">November 2014</option>
                <option value="3">October 2014</option>
                <option value="4">September 2014</option>
                <option value="5">August 2014</option>
                <option value="6">July 2014</option>
                <option value="7">June 2014</option>
                <option value="8">May 2014</option>
                <option value="9">April 2014</option>
                <option value="10">March 2014</option>
                <option value="11">February 2014</option>
                <option value="12">January 2014</option>
            </select>
        </div>
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Confirmation #</th>
                    <th>Purchase Date</th>
                    <th>Title</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: { data: data.cartItems(), as: 'cartItem' }">
                <tr>
                    <td data-bind="text: cartItem.guid" />
                    <td data-bind="text: cartItem.purchaseDate" />
                    <td data-bind="text: cartItem.title" />
                    <td data-bind="text: cartItem.quantity"/>
                    <td data-bind="text: '$' + cartItem.price()"/>
                    <td><form>
    <input type="hidden" value="" id="quantity" data-bind="value: cartItem.quantity" />
    <input type="hidden" value="" id="unit_cost" data-bind="value: cartItem.price" />
</form>
<span id="subtotal"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</script>